<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <!--<link rel="stylesheet" href={{url_for('static',filename='style.css')}}>-->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="header">Welcome to My Blog Page</h1>
    <div id="container">
        <div class="blogs" id="blogs1">
            <h2>Blog 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptates, suscipit natus cumque dolorem aperiam deserunt nihil voluptas nulla reiciendis fugiat voluptatum ut praesentium ipsa autem quia? Dolores, nulla debitis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptates, suscipit natus cumque dolorem aperiam deserunt nihil voluptas nulla reiciendis fugiat voluptatum ut praesentium ipsa autem quia? Dolores, nulla debitis!</p>
            <div class="image-align">
                <a href="../static/im1.jpg">
                    <img src="../static/im1.jpg" alt="Nature Image 1" width="300" height="300">
                </a>
            </div>
        </div>
        <div class="blogs" id="blogs2">
            <h2>Blog 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iure id at, architecto quo alias harum cum nihil eius excepturi distinctio, tempora aperiam sint quae quam et ad officiis. Asperiores?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptates, suscipit natus cumque dolorem aperiam deserunt nihil voluptas nulla reiciendis fugiat voluptatum ut praesentium ipsa autem quia? Dolores, nulla debitis!</p>
            <div class="image-align">
                <img src="../static/im2.jpg" alt="Nature Image 2" width="300" height="300">
            </div>
        </div>
        <div class="blogs" id="blogs3">
            <h2>Blog 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia reiciendis expedita, sit repellat tempora quam. Iste architecto quaerat magnam hic esse iure, animi quam, blanditiis adipisci illo quia labore dolorem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptates, suscipit natus cumque dolorem aperiam deserunt nihil voluptas nulla reiciendis fugiat voluptatum ut praesentium ipsa autem quia? Dolores, nulla debitis!</p>
            <div class="image-align">
                <img src="../static/im3.jpg" alt="Nature Image 3" width="300" height="300">
            </div>
        </div>
    </div>
    <div class="container-numbers">
        <div class="numbers">1</div>
        <div class="numbers">2</div>
        <div class="numbers">3</div>
        <div class="numbers">4</div>
        <div class="numbers">5</div>
    </div>
    <!--Column and Row example-->
    <div class="column-row">
        <div class="inner-column1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus, numquam ex non modi ipsam quibusdam debitis unde minima ut voluptate quidem, soluta quasi quaerat libero ab officia? Ducimus, blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id praesentium provident minus blanditiis? Et voluptatem magnam ullam distinctio eligendi culpa, aspernatur ut, aliquid alias commodi nam nihil perspiciatis quas?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit officiis maiores, architecto voluptatem excepturi qui ipsum, similique accusamus laborum autem omnis commodi! Doloremque tempore adipisci non facilis nostrum assumenda ducimus!</p>
        </div>
        <div class="inner-column2">
            <div id="row1">A</div>
            <div id="row2">B</div>
        </div>  
    </div>
</body>
</html>